<div id="main">



    <h3>Message Name</h3>
    <div>{{dataGridContacts.data.length}}</div>
    <!--<div>{{dataGridOptions.data.length}}</div>-->
    <!--<div ui-grid="dataGridContacts" class="container"></div>-->


    <select>
        <option value="value">Message Name</option>
    </select>
    <div>
        <!--<a href="#" ng-click="refreshPersons()"><span class="glyphicon glyphicon-refresh"></span></a>-->
        <!--<div>{{DISPLAY_TEST}}</div>-->
        <div ui-grid="dataGridContacts" class="container"></div>
    </div>

    <div>
        <!--<a href="#" ng-click="refreshPersons()"><span class="glyphicon glyphicon-refresh"></span></a>-->
        <!--<div>{{DISPLAY_TEST}}</div>-->
        <div dx-data-grid="dataGridMailingList" class="container"></div>
    </div>

    



    <!--<div class="dx-viewport demo-container" id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="discount">
        <div data-options="dxTemplate:{ name:'discountCellTemplate' }">
            <div class="chart-cell">
                <div dx-bullet="{
                        onIncidentOccurred: null,
                        size: {
                            width: 150,
                            height: 35
                        },
                        margin: {
                            top: 5,
                            bottom: 0,
                            left: 5
                        },
                        showTarget: false,
                        showZeroLevel: true,
                        value: discount.value * 100,
                        startScaleValue: 0,
                        endScaleValue: 100,
                        tooltip: {
                            enabled: true,
                            font: {
                                size: 18
                            },
                            paddingTopBottom: 2,
                            customizeTooltip: customizeTooltip,
                            zIndex: 5
                        }
                    }"></div>
            </div>
        </div>
    </div>
</div>-->







<div>

    <br />
    <br />


</div>

<!--{{ defaultValues }}        <!--<div ui-grid="dataGridOptions" class="container" ui-grid-auto-resize=""></div>-->
<!--<div ui-grid="dataGridOptions" class="container" ui-grid-auto-resize=""></div>-->
<!--</div>        <!--<div ui-grid="dataGridOptions" class="container" ui-grid-auto-resize=""></div>-->
