<h3>{{pageHeading}}</h3>
<br />
<div class="row">
    <div>
        <button id="messageTypeEdit" class="btn btn-primary" ng-click="editPersonType()" style="margin-right: 5px">
            Edit
        </button>

    </div>
    <div>
        <!--<button class="btn btn-primary" ng-click="savePerson(person.PersonID,person)">  -->
        <button id="messageTypeSave" class="btn btn-primary" ng-click="savePersonType(personType)" style="margin-right: 5px">
            Save
        </button>
    </div>
    <div>
        <button id="messageTypeCancel" class="btn btn-primary" ng-click="cancelPersonType(personType.PersonTypeID)" style="margin-right: 5px">
            Cancel
        </button>
    </div>
    <div>
        <button id="messageTypeDelete" class="btn btn-primary" ng-click="deletePersonType(personType.PersonTypeID)">
            Delete
        </button>
    </div>


</div>
<fieldset id="messageTypeFieldset">
    <!-- disabled false>-->
    <div>
        <br />
        <span class="input-group-addon" style="width: 160px; text-align: left">Message Type</span>
        <input type="text" class="form-control" ng-model="personType.PersonTypeName" name="MessageType" />
        <br />
        <br />


        <br />

        <!--{ @class = "form-control" , style = "width:200px-->
        <!--<select ng-options="pt.PersonTypeName for pt in personType" ng-model="personType">
            <option value="">Person Type</option>
            <option value=""></option>
        </select>-->


    </div>
</fieldset>
<!--document.getElementById("myFieldset").disabled = true;-->
