<h3>{{pageHeading}}</h3>
<br />
<div class="row">
    <div>
        <button id="sourceTypeEdit" class="btn btn-primary" ng-click="editSourceType()" style="margin-right: 5px">
            Edit
        </button>

    </div>
    <div>
        <!--<button class="btn btn-primary" ng-click="savePerson(person.PersonID,person)">  -->
        <button id="sourceTypeSave" class="btn btn-primary" ng-click="saveSourceType(sourceType)" style="margin-right: 5px">
            Save
        </button>
    </div>
    <div>
        <button id="sourceTypeCancel" class="btn btn-primary" ng-click="cancelSourceType(sourceType.SourceTypeID)" style="margin-right: 5px">
            Cancel
        </button>
    </div>
    <div>
        <button id="sourceTypeDelete" class="btn btn-primary" ng-click="deleteSourceType(sourceType.SourceTypeID)">
            Delete
        </button>
    </div>


</div>
<fieldset id="sourceTypeFieldset">
    <!-- disabled false>-->
    <div>
        <br />
        <span class="input-group-addon" style="width: 160px; text-align: left">Source Type</span>
        <input type="text" class="form-control" ng-model="sourceType.SourceTypeName" name="SourceType" />
        <br />
        <br />


        <br />

        <!--{ @class = "form-control" , style = "width:200px-->
        <!--<select ng-options="pt.PersonTypeName for pt in personType" ng-model="personType">
            <option value="">Person Type</option>
            <option value=""></option>
        </select>-->


    </div>
</fieldset>
<!--document.getElementById("myFieldset").disabled = true;-->
